<div class="row mt-4 justify-content-center">
    <div class="col-11 col-sm-10 col-md-8 col-lg-6 alert alert-success text-center">

        <h2 class="mb-3">Order completed successfully</h2>

        <p class="mb-3">
            You can check all your orders in the Orders section of your profile
        </p>

        <hr />

        <p class="fw-semibold mb-0">Thank you!</p>

    </div>
</div>
